<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Proyecto coder 1</title>
</head>
<body>
    
    <p>Hoy es {{fecha}}</p>
    <h1>--------HOLA MUNDOOOOOOOOOOOO--------</h1>

    <h5>BUENAS TARDES</h5> 
    
    <p> Hoy es un gran día, te lo digo yo !</p>

    <h2> El mejor estudiante es: {{nombre}} </h2>

    <h2> Su nota es: {{nota}} </h2>

    <h1>Simpaticos:</h1> <br>

    {% for estu in estudiantes %}

        {% if estu == 'Nadia' %}
            <p style="color: blueviolet;">{{estu}}</p>

        {% else %}
            <p>{{estu}}</p>
    
        {% endif %}

    {% endfor %}


</body>
</html>